<h1>Sign In</h1>

<%= form_with url: sign_in_path, method: :post, scope: :session do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div><br/>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div><br/>

  <div>
    <%= form.submit "Sign In" %>
  </div><br/>
  <%= link_to 'Home', root_path %> 

<% end %>
